*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

body {
  background-color: #F2F2F2; }

.vehicle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  border-radius: 10px;
  position: relative;
  top: 50%;
  transform: translateY(-50%); }
  @media only screen and (max-width: 56.25em) {
    .vehicle {
      margin: 100px auto;
      width: 300px;
      position: relative;
      top: 0;
      transform: translateY(0); } }
  .vehicle__1 {
    background-color: #E28625;
    border-radius: 10px;
    width: 300px;
    height: 500px;
    position: relative; }
    @media only screen and (max-width: 56.25em) {
      .vehicle__1 {
        height: 400px; } }
  .vehicle__2 {
    background-color: #006971;
    border-radius: 10px;
    width: 300px;
    height: 500px;
    position: relative;
    right: 15px; }
    @media only screen and (max-width: 56.25em) {
      .vehicle__2 {
        height: 400px;
        right: 0;
        bottom: 15px; } }
  .vehicle__3 {
    background-color: #004140;
    border-radius: 10px;
    width: 300px;
    height: 500px;
    position: relative;
    right: 30px; }
    @media only screen and (max-width: 56.25em) {
      .vehicle__3 {
        height: 400px;
        right: 0;
        bottom: 30px; } }
  .vehicle__icon {
    position: absolute;
    top: 60px;
    left: 40px; }
    @media only screen and (max-width: 56.25em) {
      .vehicle__icon {
        top: 30px; } }

.vehicle__title {
  color: #F2F2F2;
  font-size: 40px;
  text-transform: uppercase;
  font-family: 'Big Shoulders Display', cursive;
  position: absolute;
  left: 40px;
  top: 140px; }
  @media only screen and (max-width: 56.25em) {
    .vehicle__title {
      top: 90px; } }

.vehicle__description {
  color: #fff;
  font-size: 15px;
  font-family: 'Lexend Deca', sans-serif;
  line-height: 1.8;
  width: 211px;
  position: absolute;
  left: 40px;
  bottom: 160px; }
  @media only screen and (max-width: 56.25em) {
    .vehicle__description {
      bottom: 100px;
      width: 224px; } }

.vehicle__btn {
  font-size: 15px;
  font-weight: 700;
  padding: 15px 40px;
  border: solid 2px transparent;
  border-radius: 100px;
  outline: none;
  transition: all .5s;
  position: absolute;
  left: 40px;
  bottom: 50px; }
  .vehicle__btn-1 {
    color: #E28625; }
  .vehicle__btn-2 {
    color: #006971; }
  .vehicle__btn-3 {
    color: #004140; }
  @media only screen and (max-width: 56.25em) {
    .vehicle__btn {
      bottom: 30px; } }
  .vehicle__btn:active {
    color: #fff;
    background-color: transparent;
    border: solid 2px #fff;
    cursor: pointer; }
