// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.250em; // 500px

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16 = 62.5% -> 1rem = 10px

    @media only screen and (max-width: $bp-smallest) {
        font-size: 50%;
    }
}

body {
    background: hsl(217, 54%, 11%);
}
