*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

body {
  background-color: #f2f2f2;
  height: 100%; }

.cards {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 1300px; }
  @media only screen and (max-width: 93.75em) {
    .cards {
      width: 1000px; } }
  @media only screen and (max-width: 50em) {
    .cards {
      width: 600px; } }

.card {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color: #4D4F62;
  font-family: 'Poppins', sans-serif;
  position: relative; }
  .card__1 {
    background-color: #fff;
    border-radius: 10px;
    border-top: solid 5px #44D3D2;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.3);
    width: 350px;
    height: 250px;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
    top: 140;
    left: 60; }
    @media only screen and (max-width: 106.25em) {
      .card__1 {
        left: 0; } }
    @media only screen and (max-width: 93.75em) {
      .card__1 {
        top: 0; } }
  .card__2 {
    background-color: #fff;
    border-radius: 10px;
    border-top: solid 5px #549EF2;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.3);
    width: 350px;
    height: 250px;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
    top: 140;
    right: 60; }
    @media only screen and (max-width: 106.25em) {
      .card__2 {
        right: 0; } }
    @media only screen and (max-width: 93.75em) {
      .card__2 {
        top: 0; } }
  .card__3 {
    background-color: #fff;
    border-radius: 10px;
    border-top: solid 5px #EA5454;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.3);
    width: 350px;
    height: 250px;
    padding: 20px;
    margin-bottom: 20px;
    position: relative; }
  .card__4 {
    background-color: #fff;
    border-radius: 10px;
    border-top: solid 5px #FCAE4A;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.3);
    width: 350px;
    height: 250px;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
    top: 30; }
    @media only screen and (max-width: 93.75em) {
      .card__4 {
        top: 0; } }
  .card__title {
    font-size: 20px; }
  .card__description {
    font-size: 13px;
    width: 250px; }
  .card__icon {
    position: absolute;
    top: 150;
    left: 250; }

.center {
  display: block;
  margin: 50px auto; }
  .center__width {
    width: 520px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .center__title {
    color: #4D4F62;
    font-size: 36px; }
    .center__title p:nth-child(2) {
      font-weight: 600; }
  .center__description {
    color: #4D4F62;
    font-size: 15px;
    background-color: blue; }
