// MEDIA QUERY
$bp-medium: 56.25em; // 900/16em = 56.25em 900px

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    background-color: #F2F2F2;
}