.u-center-text {
    text-align: center;
}

.u-margin-left-small {
    margin-left: 50px;
}

.u-margin-left-medium {
    margin-left: 100px;
}

.u-margin-top-small {
    margin-top: 20px;
}

.u-margin-bottom-medium {
    margin-top: 40px;
}